Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

bicep-lint:
  name: Bicep Linting
  description: Lint Bicep files using Azure CLI
  entry: scripts/bicep_lint.sh
  language: script
  pass_filenames: true

backend-pyright:
  name: backend pyright type checking
  description: Run pyright type checking for backend
  entry: bash -c 'cd backend && pyright .'
  language: system
  pass_filenames: false
  require_serial: true

network-python-checks:
  name: network python checks (make check-network)
  description: Run black, isort, flake8, pyright via root Makefile
  entry: bash -c 'source venv/bin/activate && make check-network'
  language: system
  pass_filenames: false
  require_serial: true

docs: correct CLAUDE.md deployment and model-serving notes
  CLAUDE.md
Due: none

feat: add real mode for solving physical puzzles
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/image_processor.py
  backend/app/services/piece_detector.py
  backend/app/services/puzzle_detector.py
  backend/pyproject.toml
  backend/tests/test_main.py
  backend/tests/test_piece_detector.py
  backend/tests/test_puzzle_detector.py
  frontend/e2e/real-mode.spec.ts
  frontend/src/app/page.tsx
  frontend/src/app/real/page.tsx
  frontend/src/components/auth-provider.tsx
  frontend/src/components/camera/camera-modal.tsx
  frontend/src/components/camera/camera-view.tsx
  frontend/src/components/puzzle/corner-adjust.test.tsx
  frontend/src/components/puzzle/corner-adjust.tsx
  frontend/src/components/puzzle/index.ts
  frontend/src/components/puzzle/puzzle-detail.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/types/index.ts
  uv.lock
Due: backend-pyright

fix: address Copilot review feedback and CI e2e timeout
  backend/app/main.py
  backend/tests/test_main.py
  frontend/e2e/real-mode.spec.ts
  frontend/src/components/camera/camera-view.tsx
  frontend/src/components/puzzle/corner-adjust.tsx
Due: backend-pyright

fix: degrade gracefully when the model checkpoint is absent
  backend/app/services/image_processor.py
  backend/tests/test_image_processor.py
Due: backend-pyright

fix: address second-round Copilot review (a11y + valid HTML)
  frontend/src/app/page.tsx
  frontend/src/app/real/page.tsx
  frontend/src/components/puzzle/corner-adjust.tsx
Due: none

feat(network): add North Star v1 real-photo test set ingest
  network/experiments/north_star/README.md
  network/experiments/north_star/bbox_overrides.csv
  network/experiments/north_star/ingest.py
  network/experiments/north_star/rotation_overrides.csv
Due: network-python-checks

fix: abort in-flight preview requests and handle 401 in the detect loop
  frontend/src/components/camera/camera-view.tsx
  frontend/src/lib/api.ts
Due: none

fix(network): address Copilot review on north_star ingest
  network/experiments/north_star/README.md
  network/experiments/north_star/ingest.py
Due: network-python-checks

fix(network): methodology harness — frozen split, val selection, eval-mode train metrics
  network/experiments/CRITICAL_REVIEW.md
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp20_realistic_pieces/README.md
  network/experiments/exp20_realistic_pieces/__init__.py
  network/experiments/exp20_realistic_pieces/dataset.py
  network/experiments/exp20_realistic_pieces/harness.py
  network/experiments/exp20_realistic_pieces/prepare_runpod_package.sh
  network/experiments/exp20_realistic_pieces/run_full_experiment.py
  network/experiments/exp20_realistic_pieces/run_full_experiment.sh
  network/experiments/exp20_realistic_pieces/runpod/README.md
  network/experiments/exp20_realistic_pieces/runpod/prepare_package.sh
  network/experiments/exp20_realistic_pieces/runpod/setup_and_train.sh
  network/experiments/exp20_realistic_pieces/runpod_setup.sh
  network/experiments/exp20_realistic_pieces/splits.py
  network/experiments/exp20_realistic_pieces/splits/realistic_4x4_v1.json
  network/experiments/exp20_realistic_pieces/train.py
  network/experiments/exp20_realistic_pieces/train_cuda.py
  network/experiments/exp20_realistic_pieces/visualize.py
Due: network-python-checks

fix(network): keep contact-sheet columns aligned on missing bboxes
  network/experiments/north_star/ingest.py
Due: network-python-checks

fix: address Copilot review — single forward pass in eval, fail fast on missing puzzles
  network/experiments/exp20_realistic_pieces/README.md
  network/experiments/exp20_realistic_pieces/dataset.py
  network/experiments/exp20_realistic_pieces/harness.py
  network/experiments/exp20_realistic_pieces/model.py
  network/experiments/exp20_realistic_pieces/train.py
Due: network-python-checks

fix: address Copilot re-review — filter missing IDs, sort split on load
  network/experiments/exp20_realistic_pieces/dataset.py
  network/experiments/exp20_realistic_pieces/splits.py
Due: network-python-checks

fix(network): close image handles and fix inflated NCC margin
  network/experiments/north_star/ingest.py
Due: network-python-checks

fix(network): fail fast with a clear message when sips is missing
  network/experiments/north_star/ingest.py
Due: network-python-checks

feat(real-mode): auto-capture pipeline with piece tracking and queue
  frontend/e2e/real-mode.spec.ts
  frontend/src/app/globals.css
  frontend/src/app/real/page.tsx
  frontend/src/components/camera/index.ts
  frontend/src/components/camera/live-piece-capture.tsx
  frontend/src/components/puzzle/index.ts
  frontend/src/components/puzzle/piece-queue.tsx
  frontend/src/hooks/use-prediction-worker.ts
  frontend/src/lib/capture-sound.ts
  frontend/src/lib/frame-quality.test.ts
  frontend/src/lib/frame-quality.ts
  frontend/src/lib/piece-tracker.test.ts
  frontend/src/lib/piece-tracker.ts
  frontend/src/stores/capture-queue-store.test.ts
  frontend/src/stores/capture-queue-store.ts
  frontend/src/stores/puzzle-store.test.ts
  frontend/src/stores/puzzle-store.ts
Due: none

fix: address Copilot review round 3 — fail-fast guards + RunPod puzzle_shapes path
  network/experiments/exp20_realistic_pieces/runpod/prepare_package.sh
  network/experiments/exp20_realistic_pieces/splits.py
  network/experiments/exp20_realistic_pieces/train.py
Due: network-python-checks

fix: address Copilot review feedback
  frontend/e2e/real-mode.spec.ts
  frontend/src/components/camera/live-piece-capture.tsx
  frontend/src/components/puzzle/piece-queue.tsx
  frontend/src/lib/piece-tracker.test.ts
  frontend/src/lib/piece-tracker.ts
  frontend/src/stores/capture-queue-store.test.ts
Due: none

docs: name the --allow-missing-puzzles CLI flag in the missing-pieces error
  network/experiments/exp20_realistic_pieces/dataset.py
Due: network-python-checks

fix: address second-round Copilot review
  frontend/src/components/camera/live-piece-capture.tsx
  frontend/src/stores/capture-queue-store.test.ts
Due: none

perf: release raw capture blob/URL once a piece is predicted
  frontend/src/hooks/use-prediction-worker.ts
  frontend/src/stores/capture-queue-store.test.ts
  frontend/src/stores/capture-queue-store.ts
Due: none

Path conditions:
  bicep-lint: any of: \.bicep$
  backend-pyright: any of: ^backend/.*\.py$
  network-python-checks: any of: ^network/.*\.py$
