Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

bicep-lint:
  name: Bicep Linting
  description: Lint Bicep files using Azure CLI
  entry: scripts/bicep_lint.sh
  language: script
  pass_filenames: true

backend-pyright:
  name: backend pyright type checking
  description: Run pyright type checking for backend
  entry: bash -c 'cd backend && pyright .'
  language: system
  pass_filenames: false
  require_serial: true

network-python-checks:
  name: network python checks (make check-network)
  description: Run black, isort, flake8, pyright via root Makefile
  entry: bash -c 'source venv/bin/activate && make check-network'
  language: system
  pass_filenames: false
  require_serial: true

feat: add test mode functionality with grid and puzzle selection tests
  frontend/e2e/play.spec.ts
  frontend/e2e/test-mode.spec.ts
Due: none

docs: add .env.example files for easier setup
  backend/.env.example
  frontend/.env.example
  frontend/.gitignore
  frontend/bun.lock
Due: none

fix(frontend): resolve TypeScript lint errors for CI
  frontend/src/app/login/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/auth-provider.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
Due: none

fix(ci): resolve puzzle-shapes local package installation in CI
  Makefile
  backend/requirements.txt
Due: none

fix(backend): add email-validator dependency for Pydantic EmailStr
  backend/requirements.txt
Due: none

fix(ci): add Auth.js environment variables for e2e tests
  .github/workflows/frontend-ci.yml
Due: none

Update frontend/src/components/auth-provider.tsx
  frontend/src/components/auth-provider.tsx
Due: none

Update frontend/src/app/profile/page.tsx
  frontend/src/app/profile/page.tsx
Due: none

Update frontend/src/app/page.tsx
  frontend/src/app/page.tsx
Due: none

Update backend/requirements.txt
  backend/requirements.txt
Due: none

feat(e2e): add test auth token injection for authenticated API calls
  .github/workflows/frontend-ci.yml
  backend/scripts/generate_test_token.py
  frontend/e2e/fixtures.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/play.spec.ts
  frontend/e2e/test-mode.spec.ts
Due: backend-pyright

fix(frontend): format files with Prettier
  frontend/src/app/page.tsx
  frontend/src/lib/auth.ts
Due: none

fix(ci): add auth env vars to build job
  .github/workflows/frontend-ci.yml
Due: none

feat(exp21): add masked rotation correlation experiment
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp21_masked_rotation/README.md
  network/experiments/exp21_masked_rotation/__init__.py
  network/experiments/exp21_masked_rotation/dataset.py
  network/experiments/exp21_masked_rotation/model.py
  network/experiments/exp21_masked_rotation/outputs/results.json
  network/experiments/exp21_masked_rotation/outputs/training_curves.png
  network/experiments/exp21_masked_rotation/runpod/README.md
  network/experiments/exp21_masked_rotation/runpod/prepare_package.sh
  network/experiments/exp21_masked_rotation/runpod/setup_and_train.sh
  network/experiments/exp21_masked_rotation/train_cuda.py
  network/experiments/exp21_masked_rotation/visualize.py
Due: network-python-checks

chore: add downscaled test_predictions.png for exp21
  network/experiments/exp21_masked_rotation/outputs/test_predictions.png
Due: none

Experiment 22: RoMa V2 Dense Feature Matching and Image Patch Localization Research
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/IMAGE_PATCH_LOCALIZATION_RESEARCH.md
  network/experiments/exp22_roma_matching/README.md
  network/experiments/exp22_roma_matching/__init__.py
  network/experiments/exp22_roma_matching/evaluate.py
  network/experiments/exp22_roma_matching/quick_test.py
Due: network-python-checks

fix: add log level warning to prettier format script
  frontend/package.json
Due: none

fix(deps): regenerate bun.lock with clean install
  frontend/bun.lock
Due: none

fix(auth): update jwt callback type for next-auth 5.0.0-beta.30
  frontend/src/lib/auth.ts
Due: none

feat(backend): migrate from pip to uv for faster CI
  .flake8
  .github/workflows/backend-ci.yml
  CLAUDE.md
  Makefile
  backend/README.md
  backend/pyproject.toml
  backend/pyrightconfig.json
  backend/requirements.txt
  backend/setup.py
  backend/uv.lock
Due: backend-pyright

Path conditions:
  bicep-lint: any of: \.bicep$
  backend-pyright: any of: ^backend/.*\.py$
  network-python-checks: any of: ^network/.*\.py$
