Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

bicep-lint:
  name: Bicep Linting
  description: Lint Bicep files using Azure CLI
  entry: scripts/bicep_lint.sh
  language: script
  pass_filenames: true

backend-pyright:
  name: backend pyright type checking
  description: Run pyright type checking for backend
  entry: bash -c 'cd backend && pyright .'
  language: system
  pass_filenames: false
  require_serial: true

network-python-checks:
  name: network python checks (make check-network)
  description: Run black, isort, flake8, pyright via root Makefile
  entry: bash -c 'source venv/bin/activate && make check-network'
  language: system
  pass_filenames: false
  require_serial: true

fix(backend): gate unsafe checkpoint load behind opt-in (Copilot round 2)
  backend/app/services/image_processor.py
  backend/tests/test_image_processor.py
Due: backend-pyright

fix: pyright pre-commit hook + trim vendored model (Copilot round 3)
  .pre-commit-config.yaml
  backend/app/models/model.py
Due: backend-pyright

exp25: first real-photo evaluation on north-star v1
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp25_north_star_eval/README.md
  network/experiments/exp25_north_star_eval/__init__.py
  network/experiments/exp25_north_star_eval/check_overview_orientation.py
  network/experiments/exp25_north_star_eval/evaluate.py
  network/experiments/exp25_north_star_eval/outputs/overview_crops.jpg
  network/experiments/exp25_north_star_eval/outputs/overview_orientation.json
  network/experiments/exp25_north_star_eval/outputs/report.html
  network/experiments/exp25_north_star_eval/outputs/results.json
  network/experiments/north_star/README.md
  network/experiments/north_star/ingest.py
Due: network-python-checks

fix: explicit measured slugs, lossless transpose, honest match count (Copilot round 1)
  network/experiments/exp25_north_star_eval/check_overview_orientation.py
  network/experiments/exp25_north_star_eval/outputs/overview_orientation.json
  network/experiments/north_star/ingest.py
Due: network-python-checks

fix: authoritative fallback records in piece-cache resume (Copilot round 2)
  network/experiments/exp25_north_star_eval/evaluate.py
Due: network-python-checks

fix: close image file handles with context managers (Copilot round 3)
  network/experiments/exp25_north_star_eval/check_overview_orientation.py
  network/experiments/exp25_north_star_eval/evaluate.py
Due: network-python-checks

docs: update README with cost note and local training instructions for RunPod
  network/experiments/exp20_realistic_pieces/runpod/README.md
Due: none

feat: serve piece matching via classical SIFT->NCC hybrid
  backend/app/config.py
  backend/app/main.py
  backend/app/services/classical_matcher.py
  backend/tests/test_classical_matcher.py
  backend/tests/test_main.py
Due: backend-pyright

fix: validate matcher settings, harden puzzle path construction
  backend/app/config.py
  backend/app/services/classical_matcher.py
  backend/tests/test_config.py
Due: backend-pyright

fix: close puzzle image file handle with context manager (Copilot round 2)
  backend/app/services/classical_matcher.py
Due: backend-pyright

fix: build puzzle path from parsed UUID in image_processor (CodeQL #12)
  backend/app/services/image_processor.py
Due: backend-pyright

feat(frontend): wrap piece queue into rows with hover-to-enlarge preview
  frontend/src/components/puzzle/piece-queue.tsx
Due: none

fix(frontend): keyboard-accessible preview + clip status overlay corners
  frontend/src/components/puzzle/piece-queue.tsx
Due: none

fix(frontend): touch/keyboard-reachable preview + match tile corner radii
  frontend/src/components/puzzle/piece-queue.tsx
Due: none

fix(frontend): drop misleading button role from focusable piece tile
  frontend/src/components/puzzle/piece-queue.tsx
Due: none

docs(skill): make the background watcher the only review-wait method
  .claude/skills/gh-pr-copilot-review/SKILL.md
Due: none

feat(ios): add native SwiftUI MVP app for real-mode puzzle solving
  ios/.gitignore
  ios/Config/Debug.xcconfig
  ios/Config/Release.xcconfig
  ios/Config/Secrets.example.xcconfig
  ios/Pussel/App/AppActions.swift
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/App/PusselApp.swift
  ios/Pussel/App/RootView.swift
  ios/Pussel/Features/Auth/AuthService.swift
  ios/Pussel/Features/Auth/AuthStore.swift
  ios/Pussel/Features/Auth/SignInView.swift
  ios/Pussel/Features/Capture/CameraPicker.swift
  ios/Pussel/Features/Capture/CapturePuzzleView.swift
  ios/Pussel/Features/Capture/ConfirmTrimView.swift
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceCaptureView.swift
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Features/Solve/PuzzleOverlayView.swift
  ios/Pussel/Features/Solve/SolvingView.swift
  ios/Pussel/Models/AuthModels.swift
  ios/Pussel/Models/PieceModels.swift
  ios/Pussel/Models/PuzzleModels.swift
  ios/Pussel/Networking/APIClient.swift
  ios/Pussel/Networking/APIError.swift
  ios/Pussel/Networking/MultipartFormData.swift
  ios/Pussel/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/Pussel/Resources/Assets.xcassets/Contents.json
  ios/Pussel/Resources/Info.plist
  ios/Pussel/Support/Config.swift
  ios/Pussel/Support/DebugNavigation.swift
  ios/Pussel/Support/ImageUtilities.swift
  ios/PusselTests/APIClientTests.swift
  ios/PusselTests/ModelDecodingTests.swift
  ios/PusselTests/MultipartFormDataTests.swift
  ios/README.md
  ios/project.yml
Due: none

fix(ios): address Copilot review feedback
  ios/Config/Secrets.example.xcconfig
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PuzzleOverlayView.swift
  ios/Pussel/Resources/Info.plist
  ios/Pussel/Support/ImageUtilities.swift
  ios/project.yml
Due: none

fix(ios): address second Copilot review round
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/App/PusselApp.swift
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Models/PieceModels.swift
  ios/Pussel/Resources/Info.plist
  ios/PusselTests/APIClientTests.swift
  ios/project.yml
Due: none

fix(ios): address third Copilot review round
  ios/Config/Secrets.example.xcconfig
  ios/Pussel/Support/DebugNavigation.swift
  ios/project.yml
Due: none

Path conditions:
  bicep-lint: any of: \.bicep$
  backend-pyright: any of: ^backend/.*\.py$
  network-python-checks: any of: ^network/.*\.py$
