Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

bicep-lint:
  name: Bicep Linting
  description: Lint Bicep files using Azure CLI
  entry: scripts/bicep_lint.sh
  language: script
  pass_filenames: true

backend-pyright:
  name: backend pyright type checking
  description: Run pyright type checking for backend
  entry: bash -c 'cd backend && pyright .'
  language: system
  pass_filenames: false
  require_serial: true

network-python-checks:
  name: network python checks (make check-network)
  description: Run black, isort, flake8, pyright via root Makefile
  entry: bash -c 'source venv/bin/activate && make check-network'
  language: system
  pass_filenames: false
  require_serial: true

Classify contour-request errors and fix confidence doc
  ios/Pussel/Features/Solve/PieceLiveDetector.swift
Due: none

Add exp27: frozen DINOv2 features under the correlation heads
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp20_realistic_pieces/harness.py
  network/experiments/exp27_pretrained_features/README.md
  network/experiments/exp27_pretrained_features/__init__.py
  network/experiments/exp27_pretrained_features/model.py
  network/experiments/exp27_pretrained_features/north_star_eval.py
  network/experiments/exp27_pretrained_features/outputs/frozen_features/results.json
  network/experiments/exp27_pretrained_features/outputs/frozen_features/test_predictions.png
  network/experiments/exp27_pretrained_features/outputs/frozen_features/training_curves.png
  network/experiments/exp27_pretrained_features/outputs/north_star_results.json
  network/experiments/exp27_pretrained_features/outputs/zero_shot_results.json
  network/experiments/exp27_pretrained_features/runpod/prepare_package.sh
  network/experiments/exp27_pretrained_features/runpod/setup_and_train.sh
  network/experiments/exp27_pretrained_features/train.py
  network/experiments/exp27_pretrained_features/zero_shot_probe.py
Due: network-python-checks

feat: barcode auto-lookup for Ravensburger puzzle boxes
  backend/app/config.py
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/barcode_lookup_cache.py
  backend/app/services/ravensburger_client.py
  backend/app/services/ravensburger_lookup.py
  backend/tests/conftest.py
  backend/tests/test_barcode_endpoint.py
  backend/tests/test_barcode_lookup_cache.py
  backend/tests/test_ravensburger_client.py
  backend/tests/test_ravensburger_lookup.py
  ios/.swiftlint.yml
  ios/Pussel/App/AppActions.swift
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Capture/BarcodeCaptureController.swift
  ios/Pussel/Features/Capture/BarcodeDetector.swift
  ios/Pussel/Features/Capture/BarcodeScanStreamer.swift
  ios/Pussel/Features/Capture/BarcodeStabilityTracker.swift
  ios/Pussel/Features/Capture/BoxCameraSession.swift
  ios/Pussel/Features/Capture/BoxCameraView.swift
  ios/Pussel/Features/Capture/CameraPicker.swift
  ios/Pussel/Features/Capture/CapturePuzzleView.swift
  ios/Pussel/Models/PuzzleModels.swift
  ios/Pussel/Networking/APIClient.swift
  ios/Pussel/Support/DebugNavigation.swift
  ios/Pussel/Support/EAN13.swift
  ios/PusselTests/APIClientTests.swift
  ios/PusselTests/BarcodeCaptureControllerTests.swift
  ios/PusselTests/BarcodeStabilityTrackerTests.swift
  ios/PusselTests/EAN13Tests.swift
  ios/project.yml
Due: backend-pyright

fix: keep barcode tracker latched across lookup attempts
  ios/Pussel/Features/Capture/BarcodeCaptureController.swift
  ios/PusselTests/BarcodeCaptureControllerTests.swift
Due: none

Snap predicted piece positions to the puzzle grid for display
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/grid_snap.py
  backend/tests/test_grid_snap.py
  backend/tests/test_main.py
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Features/Solve/PuzzleOverlayView.swift
  ios/Pussel/Features/Solve/PuzzleZoomView.swift
  ios/Pussel/Models/PieceModels.swift
  ios/Pussel/Persistence/PuzzleStore.swift
  ios/PusselTests/ModelDecodingTests.swift
  ios/PusselTests/PieceRotationTests.swift
  ios/PusselTests/PuzzleStoreTests.swift
Due: backend-pyright

feat: display pieces at grid-snapped positions in web frontend
  frontend/src/components/puzzle/piece-card.test.tsx
  frontend/src/components/puzzle/piece-card.tsx
  frontend/src/components/puzzle/piece-queue.tsx
  frontend/src/components/puzzle/puzzle-detail.test.tsx
  frontend/src/components/puzzle/puzzle-detail.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: none

feat: fetch clean puzzle motif image for barcode lookups
  backend/app/config.py
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/barcode_lookup_cache.py
  backend/app/services/ravensburger_client.py
  backend/tests/test_barcode_endpoint.py
  backend/tests/test_barcode_lookup_cache.py
  backend/tests/test_ravensburger_client.py
Due: backend-pyright

review: constrain image size to real buckets, narrow image_kind type
  backend/app/config.py
  backend/app/services/barcode_lookup_cache.py
Due: backend-pyright

review: make test fakes stricter about inputs
  backend/tests/test_barcode_endpoint.py
  backend/tests/test_ravensburger_client.py
Due: backend-pyright

review: constrain image_kind to motif/box in the response schema
  backend/app/models/puzzle_model.py
Due: backend-pyright

review: finish CDN -> ravensburger.org wording sweep in docstrings
  backend/app/services/barcode_lookup_cache.py
  backend/app/services/ravensburger_lookup.py
  backend/tests/test_barcode_endpoint.py
Due: backend-pyright

fix: read box barcodes at any orientation
  ios/Pussel/Features/Capture/BarcodeDetector.swift
  ios/PusselTests/BarcodeDetectorTests.swift
Due: none

review: reject non-digit payloads strictly in the test EAN-13 renderer
  ios/PusselTests/BarcodeDetectorTests.swift
Due: none

feat(ios): guided glare-free puzzle capture
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Capture/BoxCameraSession.swift
  ios/Pussel/Features/Capture/BoxCameraView.swift
  ios/Pussel/Features/Capture/CapturePuzzleView.swift
  ios/Pussel/Features/Capture/GlareFree/GlareAimStabilityTracker.swift
  ios/Pussel/Features/Capture/GlareFree/GlareFreeCaptureController.swift
  ios/Pussel/Features/Capture/GlareFree/GlareFreeCaptureView.swift
  ios/Pussel/Features/Capture/GlareFree/GlareFreeComposer.swift
  ios/Pussel/Features/Capture/GlareFree/GlareGuideTracker.swift
  ios/Pussel/Features/Capture/LiveFrameConsumer.swift
  ios/Pussel/Support/DebugNavigation.swift
  ios/PusselTests/GlareAimStabilityTrackerTests.swift
  ios/PusselTests/GlareFreeCaptureControllerTests.swift
  ios/PusselTests/GlareFreeComposerTests.swift
  ios/PusselTests/GlareGuideTrackerTests.swift
Due: none

feat(ios): ARKit world-anchored guidance for glare-free capture
  ios/Pussel/Features/Capture/GlareFree/ARGlareGuideSource.swift
  ios/Pussel/Features/Capture/GlareFree/GlareFreeCaptureController.swift
  ios/Pussel/Features/Capture/GlareFree/GlareFreeCaptureView.swift
  ios/Pussel/Features/Capture/GlareFree/GlareGuideSource.swift
  ios/PusselTests/ARGuideGeometryTests.swift
  ios/PusselTests/GlareGuideTrackerTests.swift
Due: none

fix(ios): reacquire the AR surface after a glare-free restart
  ios/Pussel/Features/Capture/GlareFree/ARGlareGuideSource.swift
Due: none

feat: estimate piece count by OCR-ing the box shot on barcode lookup
  .github/workflows/backend-ci.yml
  backend/Dockerfile
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/barcode_lookup_cache.py
  backend/app/services/piece_count_estimator.py
  backend/app/services/ravensburger_client.py
  backend/tests/test_barcode_endpoint.py
  backend/tests/test_piece_count_estimator.py
  ios/Pussel/App/AppActions.swift
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Capture/BarcodeCaptureController.swift
  ios/Pussel/Features/Capture/BoxCameraView.swift
  ios/Pussel/Features/Capture/CapturePuzzleView.swift
  ios/Pussel/Features/Capture/ConfirmTrimView.swift
  ios/Pussel/Models/PuzzleModels.swift
  ios/PusselTests/APIClientTests.swift
  ios/PusselTests/BarcodeCaptureControllerTests.swift
Due: backend-pyright

fix(ios): anchor the AR quad to the reference photo's own camera pose
  ios/Pussel/Features/Capture/GlareFree/ARGlareGuideSource.swift
Due: none

review: correct stale validation figures in the estimator docstring
  backend/app/services/piece_count_estimator.py
Due: backend-pyright

perf(ios): in-front test without a per-point matrix inverse
  ios/Pussel/Features/Capture/GlareFree/ARGlareGuideSource.swift
Due: none

Path conditions:
  bicep-lint: any of: \.bicep$
  backend-pyright: any of: ^backend/.*\.py$
  network-python-checks: any of: ^network/.*\.py$
