Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

bicep-lint:
  name: Bicep Linting
  description: Lint Bicep files using Azure CLI
  entry: scripts/bicep_lint.sh
  language: script
  pass_filenames: true

backend-pyright:
  name: backend pyright type checking
  description: Run pyright type checking for backend
  entry: bash -c 'cd backend && pyright .'
  language: system
  pass_filenames: false
  require_serial: true

network-python-checks:
  name: network python checks (make check-network)
  description: Run black, isort, flake8, pyright via root Makefile
  entry: bash -c 'source venv/bin/activate && make check-network'
  language: system
  pass_filenames: false
  require_serial: true

fix(ios): anchor the shutter to the bottom and report camera failures
  ios/Pussel/App/AppActions.swift
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceCaptureView.swift
Due: none

fix(ios): read the Google avatar from the Sign-In SDK, not the ID token
  ios/Pussel/App/RootView.swift
  ios/Pussel/Features/Auth/AuthService.swift
  ios/Pussel/Features/Auth/AuthStore.swift
Due: none

fix(ios): stop the piece camera when it is opened and closed quickly
  ios/Pussel/Features/Solve/PieceCameraSession.swift
Due: none

fix(ios): clear the whole auth session through one AuthStore method
  ios/Pussel/Features/Auth/AuthService.swift
  ios/Pussel/Features/Auth/AuthStore.swift
  ios/Pussel/Networking/APIClient.swift
Due: none

fix(ios): do not strand the camera when dismissed during the permission prompt
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceCaptureView.swift
Due: none

test(ios): assert the 401 session-drop clears the avatar too
  ios/PusselTests/APIClientTests.swift
Due: none

Note that the badge's hit area is bounded by the tile
  ios/Pussel/Features/Solve/PieceQueueView.swift
Due: none

Let the badge overflow via scrollClipDisabled, not negative padding
  ios/Pussel/Features/Solve/PieceQueueView.swift
Due: none

Import UIKit explicitly in PieceQueueView
  ios/Pussel/Features/Solve/PieceQueueView.swift
Due: none

Wrap the pieces strip into a grid, newest piece first
  ios/Pussel/Features/Solve/PieceQueueView.swift
Due: none

Call the pieces view a grid, not a strip
  ios/Pussel/Features/Solve/PieceQueueView.swift
Due: none

Match model-input prep to training: black composite + pad-to-square
  backend/app/services/image_processor.py
  backend/tests/test_image_processor.py
Due: backend-pyright

Add swipe-to-delete with undo to the saved puzzles list
  ios/Pussel/App/AppActions.swift
  ios/Pussel/Features/Capture/CapturePuzzleView.swift
  ios/Pussel/Features/Library/SavedPuzzlesSection.swift
  ios/Pussel/Persistence/PuzzleStore.swift
  ios/PusselTests/PuzzleStoreTests.swift
Due: none

Bound the pad canvas and use built-in generics
  backend/app/services/image_processor.py
  backend/tests/test_image_processor.py
Due: backend-pyright

Add piece geometry scanning brainstorm and milestone plan
  docs/piece-geometry-scanning.html
Due: none

Add exp28: piece contour extraction (M1) and corner detection bake-off (M2)
  network/experiments/exp28_piece_geometry/.gitignore
  network/experiments/exp28_piece_geometry/HANDOFF.md
  network/experiments/exp28_piece_geometry/README.md
  network/experiments/exp28_piece_geometry/__init__.py
  network/experiments/exp28_piece_geometry/common.py
  network/experiments/exp28_piece_geometry/contact_sheets.py
  network/experiments/exp28_piece_geometry/corner_detect.py
  network/experiments/exp28_piece_geometry/debug_synth_failures.py
  network/experiments/exp28_piece_geometry/eval_corners.py
  network/experiments/exp28_piece_geometry/extract_contours.py
  network/experiments/exp28_piece_geometry/label_corners.py
  network/experiments/exp28_piece_geometry/synth_benchmark.py
Due: network-python-checks

Add exp28 M3: edge splitting and tab/blank/flat classification
  network/experiments/exp28_piece_geometry/HANDOFF.md
  network/experiments/exp28_piece_geometry/README.md
  network/experiments/exp28_piece_geometry/common.py
  network/experiments/exp28_piece_geometry/edge_split.py
  network/experiments/exp28_piece_geometry/eval_edges.py
Due: network-python-checks

Add a pinch-zoom viewer for the puzzle on the solve screen
  ios/Pussel/App/AppActions.swift
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Features/Solve/PuzzleFocusGeometry.swift
  ios/Pussel/Features/Solve/PuzzleOverlayView.swift
  ios/Pussel/Features/Solve/PuzzleZoomView.swift
  ios/Pussel/Features/Solve/SolvingView.swift
  ios/Pussel/Features/Solve/ZoomableImageView.swift
  ios/Pussel/Persistence/PuzzleStore.swift
  ios/Pussel/Support/ImageUtilities.swift
  ios/PusselTests/ImageUtilitiesTests.swift
  ios/PusselTests/PuzzleFocusGeometryTests.swift
  ios/PusselTests/PuzzleStoreTests.swift
Due: none

Address Copilot review on the pinch-zoom viewer
  ios/Pussel/Features/Solve/PuzzleOverlayView.swift
  ios/Pussel/Features/Solve/ZoomableImageView.swift
  ios/Pussel/Support/ImageUtilities.swift
Due: none

Add exp28 M4: edge complementarity matching and neighbor ranking
  network/experiments/exp28_piece_geometry/HANDOFF.md
  network/experiments/exp28_piece_geometry/README.md
  network/experiments/exp28_piece_geometry/edge_match.py
  network/experiments/exp28_piece_geometry/eval_matching.py
Due: network-python-checks

Path conditions:
  bicep-lint: any of: \.bicep$
  backend-pyright: any of: ^backend/.*\.py$
  network-python-checks: any of: ^network/.*\.py$
