Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer

  # Bicep linting hook
  - repo: local
    hooks:
      - id: bicep-lint
        name: Bicep Linting
        description: Lint Bicep files using Azure CLI
        entry: scripts/bicep_lint.sh
        language: script
        files: \.bicep$
        pass_filenames: true

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: [--profile=black, --line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-pytest-style
        exclude: ^network/

  # Backend pyright type checking
  - repo: local
    hooks:
      - id: backend-pyright
        name: backend pyright type checking
        description: Run pyright type checking for backend
        entry: bash -c 'cd backend && pyright .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        require_serial: true

  # Network Python checks - runs make check-network for formatting, linting, and type checking
  - repo: local
    hooks:
      - id: network-python-checks
        name: network python checks (make check-network)
        description: Run black, isort, flake8, pyright via root Makefile
        entry: bash -c 'source venv/bin/activate && make check-network'
        language: system
        files: ^network/.*\.py$
        pass_filenames: false
        require_serial: true

  # Flutter/Dart hooks
  - repo: https://github.com/pedrox-hs/dart-pre-commit
    rev: v1.1.0
    hooks:
      - id: dart-analyze
        files: ^frontend/.*\.dart$
      - id: dart-format
        files: ^frontend/.*\.dart$
        args: ["--output=write"]
      - id: dart-fix
        files: ^frontend/.*\.dart$

fix: only revoke blob: object URLs in the capture queue
  frontend/src/stores/capture-queue-store.test.ts
  frontend/src/stores/capture-queue-store.ts
Due: none

fix: address third-round Copilot review
  frontend/src/app/real/page.tsx
  frontend/src/hooks/use-prediction-worker.ts
  frontend/src/lib/api.ts
  frontend/src/stores/capture-queue-store.ts
  frontend/src/stores/puzzle-store.test.ts
  frontend/src/stores/puzzle-store.ts
  frontend/src/types/index.ts
Due: none

feat: gate live piece detection with geometric/skin heuristics and confidence
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/piece_detector.py
  backend/tests/test_main.py
  backend/tests/test_piece_detector.py
  frontend/src/components/camera/camera-view.tsx
  frontend/src/types/index.ts
Due: backend-pyright

fix: gate the auto-capture pipeline by confidence; address Copilot review
  backend/app/main.py
  backend/tests/test_main.py
  backend/tests/test_piece_detector.py
  frontend/src/components/camera/camera-view.tsx
  frontend/src/components/camera/live-piece-capture.tsx
  frontend/src/lib/piece-detection.test.ts
  frontend/src/lib/piece-detection.ts
Due: backend-pyright

test: assert confidence is 0.0 on found=False preview response
  backend/tests/test_main.py
Due: backend-pyright

fix: gate detection on raw confidence, round only the returned value
  backend/app/services/piece_detector.py
Due: backend-pyright

fix: floor reported confidence so accepted regions stay in (0, 1]
  backend/app/services/piece_detector.py
Due: backend-pyright

feat(real): reuse previously photographed puzzles from local device
  frontend/src/app/real/page.tsx
  frontend/src/components/puzzle/index.ts
  frontend/src/components/puzzle/saved-puzzle-gallery.tsx
  frontend/src/hooks/use-saved-puzzles.ts
  frontend/src/lib/puzzle-library.ts
Due: none

fix(real): address Copilot review — delete errors, load race, tests
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/real/page.tsx
  frontend/src/hooks/use-saved-puzzles.ts
  frontend/src/lib/puzzle-library.test.ts
Due: none

fix(real): address Copilot round 2 — randomUUID fallback, touch-friendly delete
  frontend/src/components/puzzle/saved-puzzle-gallery.tsx
  frontend/src/lib/puzzle-library.ts
Due: none

fix(real): address Copilot round 3 — non-blocking save, test mock specifier
  frontend/src/app/real/page.tsx
  frontend/src/lib/puzzle-library.test.ts
Due: none

fix(frontend): migrate middleware to proxy convention for Next.js 16
  frontend/src/components/auth-provider.tsx
  frontend/src/proxy.ts
Due: none

feat: binary piece classifier gates live preview confidence (exp24)
  backend/app/config.py
  backend/app/models/piece_classifier_model.py
  backend/app/services/piece_classifier.py
  backend/app/services/piece_detector.py
  backend/tests/test_piece_classifier.py
  backend/tests/test_piece_detector.py
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp24_piece_classifier/README.md
  network/experiments/exp24_piece_classifier/__init__.py
  network/experiments/exp24_piece_classifier/build_negatives.py
  network/experiments/exp24_piece_classifier/build_positives.py
  network/experiments/exp24_piece_classifier/data_prep.py
  network/experiments/exp24_piece_classifier/dataset.py
  network/experiments/exp24_piece_classifier/model.py
  network/experiments/exp24_piece_classifier/outputs/results.json
  network/experiments/exp24_piece_classifier/train.py
Due: backend-pyright, network-python-checks

fix: address Copilot review — Zip Slip guard, crop-save logging, doc paths
  backend/app/services/piece_detector.py
  network/experiments/exp24_piece_classifier/README.md
  network/experiments/exp24_piece_classifier/build_negatives.py
  network/experiments/exp24_piece_classifier/build_positives.py
  network/experiments/exp24_piece_classifier/train.py
Due: backend-pyright, network-python-checks

fix(deps): replace python-jose with pyjwt to drop vulnerable ecdsa
  backend/app/auth/service.py
  backend/pyproject.toml
  backend/tests/test_auth.py
  backend/tests/test_main.py
  uv.lock
Due: backend-pyright

fix: unrounded classifier confidence, weights_only checkpoint load
  backend/app/services/piece_classifier.py
  backend/app/services/piece_detector.py
Due: backend-pyright

fix: docstring precision and full RNG seeding (Copilot round 3)
  backend/app/services/piece_classifier.py
  network/experiments/exp24_piece_classifier/train.py
Due: backend-pyright, network-python-checks

fix: tighter annotations, collision-proof crop filenames (Copilot round 4)
  backend/app/services/piece_detector.py
  network/experiments/exp24_piece_classifier/train.py
Due: backend-pyright, network-python-checks

feat(backend): serve exp20 4x4 checkpoint for piece inference
  backend/app/models/model.py
  backend/app/services/image_processor.py
Due: backend-pyright

fix(backend): safer checkpoint load + coverage (Copilot review)
  backend/app/models/model.py
  backend/app/services/image_processor.py
  backend/tests/test_image_processor.py
Due: backend-pyright
