Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer

  # Bicep linting hook
  - repo: local
    hooks:
      - id: bicep-lint
        name: Bicep Linting
        description: Lint Bicep files using Azure CLI
        entry: scripts/bicep_lint.sh
        language: script
        files: \.bicep$
        pass_filenames: true

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: [--profile=black, --line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-pytest-style
        exclude: ^network/

  # Backend pyright type checking
  - repo: local
    hooks:
      - id: backend-pyright
        name: backend pyright type checking
        description: Run pyright type checking for backend
        entry: bash -c 'cd backend && pyright .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        require_serial: true

  # Network Python checks - runs make check-network for formatting, linting, and type checking
  - repo: local
    hooks:
      - id: network-python-checks
        name: network python checks (make check-network)
        description: Run black, isort, flake8, pyright via root Makefile
        entry: bash -c 'source venv/bin/activate && make check-network'
        language: system
        files: ^network/.*\.py$
        pass_filenames: false
        require_serial: true

  # Flutter/Dart hooks
  - repo: https://github.com/pedrox-hs/dart-pre-commit
    rev: v1.1.0
    hooks:
      - id: dart-analyze
        files: ^frontend/.*\.dart$
      - id: dart-format
        files: ^frontend/.*\.dart$
        args: ["--output=write"]
      - id: dart-fix
        files: ^frontend/.*\.dart$

Don't hold the spinner through the zoom copy on a failed capture
  ios/Pussel/App/AppActions.swift
Due: none

Adopt a new image in the zoom viewer instead of ignoring it
  ios/Pussel/Features/Solve/ZoomableImageView.swift
Due: none

Document M1-M4 results in the geometry scanning plan
  docs/piece-geometry-scanning.html
Due: none

Always display the zoom viewer's given image; re-seat only on resize
  ios/Pussel/Features/Solve/ZoomableImageView.swift
  ios/PusselTests/PuzzleStoreTests.swift
Due: none

Add exp28 M6: piece fingerprint and re-identification benchmark
  docs/piece-geometry-scanning.html
  network/experiments/exp28_piece_geometry/HANDOFF.md
  network/experiments/exp28_piece_geometry/eval_reid.py
  network/experiments/exp28_piece_geometry/fingerprint.py
Due: network-python-checks

Add exp28 M7: collision study and scan-lock thresholds
  docs/piece-geometry-scanning.html
  network/experiments/exp28_piece_geometry/HANDOFF.md
  network/experiments/exp28_piece_geometry/collision_study.py
Due: network-python-checks

Add M8: piece geometry endpoint with fingerprint dedupe store
  backend/app/config.py
  backend/app/main.py
  backend/app/models/piece_geometry_model.py
  backend/app/models/puzzle_model.py
  backend/app/services/piece_geometry/__init__.py
  backend/app/services/piece_geometry/contour.py
  backend/app/services/piece_geometry/corners.py
  backend/app/services/piece_geometry/edges.py
  backend/app/services/piece_geometry/fingerprint.py
  backend/app/services/piece_geometry/scoring.py
  backend/app/services/piece_geometry/service.py
  backend/app/services/piece_geometry/store.py
  backend/tests/piece_geometry_fixtures.py
  backend/tests/test_piece_geometry_api.py
  backend/tests/test_piece_geometry_contour.py
  backend/tests/test_piece_geometry_corners.py
  backend/tests/test_piece_geometry_edges.py
  backend/tests/test_piece_geometry_fingerprint.py
  backend/tests/test_piece_geometry_service.py
  backend/tests/test_piece_geometry_store.py
  docs/piece-geometry-scanning.html
  network/experiments/exp28_piece_geometry/HANDOFF.md
Due: backend-pyright

Add make ios-screenshot for connected devices
  Makefile
  ios/README.md
  scripts/ios_screenshot.sh
Due: none

Add M9: live piece-outline overlay in the iOS camera preview
  docs/piece-geometry-scanning.html
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceCaptureView.swift
  ios/Pussel/Features/Solve/PiecePreviewGeometry.swift
  ios/Pussel/Features/Solve/PiecePreviewStreamer.swift
  ios/Pussel/Features/Solve/PiecePreviewThrottle.swift
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Models/PieceModels.swift
  ios/Pussel/Networking/APIClient.swift
  ios/Pussel/Support/DebugNavigation.swift
  ios/PusselTests/ModelDecodingTests.swift
  ios/PusselTests/PiecePreviewGeometryTests.swift
  ios/PusselTests/PiecePreviewThrottleTests.swift
  ios/README.md
  network/experiments/exp28_piece_geometry/HANDOFF.md
Due: none

Address Copilot review on the screenshot script
  Makefile
  ios/README.md
  scripts/ios_screenshot.sh
Due: none

Separate the usbmuxd and no-device failures
  ios/README.md
  scripts/ios_screenshot.sh
Due: none

Screenshot the Simulator too, and pick the target explicitly
  Makefile
  ios/README.md
  scripts/ios_screenshot.sh
Due: none

Address Copilot review: multiple connected devices
  Makefile
  ios/README.md
  scripts/ios_screenshot.sh
Due: none

Reject --device combined with --simulator
  scripts/ios_screenshot.sh
Due: none

Add M10: scan-and-lock in the iOS piece camera
  docs/piece-geometry-scanning.html
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Solve/PieceCameraSession.swift
  ios/Pussel/Features/Solve/PieceQueueView.swift
  ios/Pussel/Features/Solve/PieceScanController.swift
  ios/Pussel/Features/Solve/PieceScanStability.swift
  ios/Pussel/Features/Solve/PieceScanView.swift
  ios/Pussel/Models/PieceGeometryModels.swift
  ios/Pussel/Networking/APIClient.swift
  ios/Pussel/Support/DebugNavigation.swift
  ios/PusselTests/APIClientTests.swift
  ios/PusselTests/ModelDecodingTests.swift
  ios/PusselTests/PieceScanControllerTests.swift
  ios/PusselTests/PieceScanStabilityTrackerTests.swift
  network/experiments/exp28_piece_geometry/HANDOFF.md
Due: none

Recover a stale puzzle id in the scan flow instead of red-bannering
  ios/Pussel/Features/Solve/PieceScanController.swift
  ios/Pussel/Features/Solve/PieceScanView.swift
  ios/PusselTests/PieceScanControllerTests.swift
Due: none

Feed scanned pieces into the puzzle piece list and persist their thumbnails
  ios/Pussel/App/AppFlow.swift
  ios/Pussel/Features/Solve/PieceScanController.swift
  ios/Pussel/Features/Solve/PieceScanView.swift
  ios/Pussel/Models/PieceModels.swift
  ios/Pussel/Persistence/PuzzleStore.swift
  ios/PusselTests/PieceScanControllerTests.swift
  ios/PusselTests/PuzzleStoreTests.swift
Due: none

Make scan enrollment hands-free: auto-enroll gray-zone verdicts
  backend/app/config.py
  backend/tests/test_piece_geometry_fingerprint.py
  ios/Pussel/Features/Solve/PieceScanController.swift
Due: backend-pyright

Record the M10 device-run results in the handoff docs
  docs/piece-geometry-scanning.html
  network/experiments/exp28_piece_geometry/HANDOFF.md
Due: none

Address Copilot review: enforce polygon count and de-hardcode dataset paths
  ios/Pussel/Features/Solve/PieceScanStability.swift
  ios/PusselTests/PieceScanStabilityTrackerTests.swift
  network/experiments/exp28_piece_geometry/contact_sheets.py
  network/experiments/exp28_piece_geometry/edge_split.py
  network/experiments/exp28_piece_geometry/eval_corners.py
  network/experiments/exp28_piece_geometry/eval_edges.py
  network/experiments/exp28_piece_geometry/extract_contours.py
  network/experiments/exp28_piece_geometry/fingerprint.py
  network/experiments/exp28_piece_geometry/label_corners.py
Due: network-python-checks
