Repository claust/pussel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, backend-pyright, network-python-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer

  # Bicep linting hook
  - repo: local
    hooks:
      - id: bicep-lint
        name: Bicep Linting
        description: Lint Bicep files using Azure CLI
        entry: scripts/bicep_lint.sh
        language: script
        files: \.bicep$
        pass_filenames: true

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: [--profile=black, --line-length=120]
        exclude: ^network/

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-pytest-style
        exclude: ^network/

  # Backend pyright type checking
  - repo: local
    hooks:
      - id: backend-pyright
        name: backend pyright type checking
        description: Run pyright type checking for backend
        entry: bash -c 'cd backend && pyright .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        require_serial: true

  # Network Python checks - runs make check-network for formatting, linting, and type checking
  - repo: local
    hooks:
      - id: network-python-checks
        name: network python checks (make check-network)
        description: Run black, isort, flake8, pyright via root Makefile
        entry: bash -c 'source venv/bin/activate && make check-network'
        language: system
        files: ^network/.*\.py$
        pass_filenames: false
        require_serial: true

  # Flutter/Dart hooks
  - repo: https://github.com/pedrox-hs/dart-pre-commit
    rev: v1.1.0
    hooks:
      - id: dart-analyze
        files: ^frontend/.*\.dart$
      - id: dart-format
        files: ^frontend/.*\.dart$
        args: ["--output=write"]
      - id: dart-fix
        files: ^frontend/.*\.dart$

refactor: consolidate puzzle shape logic into shared library
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  Makefile
  backend/app/services/piece_shape/generator.py
  backend/app/services/piece_shape/models.py
  backend/pyrightconfig.json
  backend/requirements.txt
  network/docs/puzzle_shape_generation/scripts/comparison.py
  network/docs/puzzle_shape_generation/scripts/diagnose_curves.py
  network/docs/puzzle_shape_generation/scripts/geometry.py
  network/docs/puzzle_shape_generation/scripts/geometry_torch.py
  network/docs/puzzle_shape_generation/scripts/io_utils.py
  network/docs/puzzle_shape_generation/scripts/optimize_torch.py
  network/docs/puzzle_shape_generation/scripts/puzzle_cutter.py
  network/docs/puzzle_shape_generation/scripts/rendering.py
  network/docs/puzzle_shape_generation/scripts/shape_comparator.py
  network/docs/puzzle_shape_generation/scripts/visualize_comparison.py
  network/docs/puzzle_shape_generation/scripts/visualize_for_prompt.py
  network/pyrightconfig.json
  pyrightconfig.json
  shared/puzzle_shapes/puzzle_shapes/__init__.py
  shared/puzzle_shapes/puzzle_shapes/edge_grid.py
  shared/puzzle_shapes/puzzle_shapes/geometry.py
  shared/puzzle_shapes/puzzle_shapes/image_masking.py
  shared/puzzle_shapes/puzzle_shapes/models.py
  shared/puzzle_shapes/pyproject.toml
  shared/puzzle_shapes/pyrightconfig.json
Due: backend-pyright, network-python-checks

feat(network): add exp20 4x4 grid with realistic Bezier-curve pieces
  .gitignore
  CLAUDE.md
  network/experiments/EXPERIMENT_LOG.md
  network/experiments/exp20_realistic_pieces/README.md
  network/experiments/exp20_realistic_pieces/__init__.py
  network/experiments/exp20_realistic_pieces/dataset.py
  network/experiments/exp20_realistic_pieces/generate_dataset.py
  network/experiments/exp20_realistic_pieces/model.py
  network/experiments/exp20_realistic_pieces/outputs/results.json
  network/experiments/exp20_realistic_pieces/prepare_runpod_package.sh
  network/experiments/exp20_realistic_pieces/run_full_experiment.py
  network/experiments/exp20_realistic_pieces/run_full_experiment.sh
  network/experiments/exp20_realistic_pieces/runpod/README.md
  network/experiments/exp20_realistic_pieces/runpod/prepare_package.sh
  network/experiments/exp20_realistic_pieces/runpod/setup_and_train.sh
  network/experiments/exp20_realistic_pieces/runpod_setup.sh
  network/experiments/exp20_realistic_pieces/train.py
  network/experiments/exp20_realistic_pieces/train_cuda.py
  network/experiments/exp20_realistic_pieces/visualize.py
  network/pyrightconfig.json
Due: network-python-checks

feat(network): add exp20 training results and visualizations
  network/experiments/exp20_realistic_pieces/outputs/test_predictions.png
  network/experiments/exp20_realistic_pieces/outputs/training_curves.png
Due: none

docs: add Google authentication implementation plan
  PLAN-google-auth.md
Due: none

feat(auth): implement Google OAuth authentication
  backend/app/auth/__init__.py
  backend/app/auth/dependencies.py
  backend/app/auth/service.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/user_model.py
  backend/requirements.txt
  backend/tests/test_auth.py
  backend/tests/test_main.py
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/auth-provider.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/middleware.ts
  frontend/src/stores/auth-store.ts
  frontend/src/types/index.ts
Due: backend-pyright

feat: add formatting hook script and update documentation for code formatting commands
  .claude/hooks/format-on-change.sh
  .claude/settings.json
  CLAUDE.md
  backend/README.md
Due: none

feat: expand permissions in settings.json to include additional Bash commands
  .claude/settings.json
Due: none

feat: enhance development setup with server start/stop commands in Makefile and CLAUDE.md
  CLAUDE.md
  Makefile
Due: none

feat: add automatic background removal for puzzle pieces
  backend/app/config.py
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/background_remover.py
  backend/app/services/image_processor.py
  backend/requirements.txt
  frontend/src/app/puzzle/page.tsx
  frontend/src/lib/api.ts
Due: backend-pyright

chore: add requirements.txt sorting to format-backend command
  Makefile
Due: none

feat: add dynamic camera modal sizing based on video orientation
  frontend/src/components/camera/camera-modal.tsx
  frontend/src/components/camera/camera-view.tsx
  frontend/src/hooks/use-camera.ts
Due: none

feat: add Play Mode for manual puzzle solving with drag-and-drop
  backend/app/main.py
  backend/app/models/puzzle_model.py
  backend/app/services/puzzle_cutter.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/play/page.tsx
  frontend/src/components/game/draggable-piece.tsx
  frontend/src/components/game/game-board.tsx
  frontend/src/components/game/index.ts
  frontend/src/lib/api.ts
  frontend/src/stores/game-store.ts
  frontend/src/types/index.ts
Due: backend-pyright

fix: make puzzle pieces interlock correctly at shared edges
  shared/puzzle_shapes/puzzle_shapes/__init__.py
  shared/puzzle_shapes/puzzle_shapes/edge_grid.py
Due: none

refactor: update link to new puzzle page and remove old puzzle page
  frontend/src/app/page.tsx
  frontend/src/app/puzzle/page.tsx
Due: none

feat: add Playwright e2e tests for frontend
  .github/workflows/frontend-ci.yml
  frontend/.gitignore
  frontend/bun.lock
  frontend/e2e/home.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: none

feat: add e2e tests for play flow
  .github/workflows/frontend-ci.yml
  frontend/e2e/play.spec.ts
Due: none

fix: install shared puzzle_shapes package before backend deps
  .github/workflows/frontend-ci.yml
Due: none

fix: filter out puzzle-shapes from requirements.txt in CI
  .github/workflows/frontend-ci.yml
Due: none

fix: improve backend startup with retry loop and logging
  .github/workflows/frontend-ci.yml
Due: none

fix: add debugging to backend startup in CI
  .github/workflows/frontend-ci.yml
Due: none
